{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/Tri-Audio-logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/partials/page-profissional.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/partials/header.css' %}">
    <link rel="stylesheet" href="{% static 'style/partials/forms.css' %}">
    <link rel="stylesheet" href="{% static 'style/partials/page-profissional.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page_profissional">
    <header class="page-header">
        <div class="top-bar-container"> 
        </div>


        <div class="header-content">
            <strong>Seja Bem Vindo(a) A Sua Plataforma De Triagem Auditiva Neonatal</strong>
            <p>O priemeiro passo é preencher esse formulário para sua inscrição</p>
            
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
        <footer>
            <p>
               <img src="{% static 'images/warning.svg' %}" alt="Aviso">
               Importante! <br> Preencha todos os campos 
            </p>
            <p>
                <img src="{% static 'images/Tri-Audio-logo.png' %}" width="250" height="150" alt="Aviso">
            </p>
           
        </footer>
    </main>
   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>